<h1><%= Date.today.year %></h1>
<div class='row'>
  <div class='col-md-12'>
    <div id='chart'></div>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <div id='pie_week'></div>
  </div>
  <div class='col-md-4'>
    <div id='pie_month'></div>
  </div>
  <div class='col-md-4'>
    <div id='pie_year'></div>
  </div>
</div>
<%= content_for :body_end do %>
  <script src='http://code.highcharts.com/highcharts.js' ></script>
  <script>
    $(function () {
      $('#chart').highcharts({
        title: {
          text: '年間'
        },
        chart: {
          type: 'column'
        },
        xAxis: {
          categories: <%= raw @stamp_of_year_chart_categories.to_json %>
        },
        series: [{
          name: 'いい感じ',
          color: 'pink',
          data: <%= raw @stamp_of_year_chart[0].to_json %>  
        },
        {
          name: 'まぁまぁ',
          color: 'yellow',
          data: <%= raw @stamp_of_year_chart[1].to_json %>  
        },
        {
          name: 'やな感じ',
          color: 'gray',
          data: <%= raw @stamp_of_year_chart[2].to_json %>  
        }],
        plotOptions: {
          area: {
            stacking: 'percent',
          },
          column: {
            stacking: 'stack',
          }
        }
      });
      $('#pie_year').highcharts({
        title: {
          text: '年間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_year_pie.to_json %>
        }],
        plotOptions: {
          pie: {
            colors:['pink', 'yellow', 'gray']
          }
        }
      });
      $('#pie_month').highcharts({
        title: {
          text: '月間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_month_pie.to_json %>
        }],
        plotOptions: {
          pie: {
            colors:['pink', 'yellow', 'gray']
          }
        }
      });
      $('#pie_week').highcharts({
        title: {
          text: '週間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_week_pie.to_json %>
        }],
        plotOptions: {
          pie: {
            colors:['pink', 'yellow', 'gray']
          }
        }
      });
    });
  </script>
<% end %>
