<h1><%= Date.today.year %></h1>
<div class='row'>
  <div class='col-md-12'>
    <div id='chart'></div>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <div id='pie_week'></div>
  </div>
  <div class='col-md-4'>
    <div id='pie_month'></div>
  </div>
  <div class='col-md-4'>
    <div id='pie_year'></div>
  </div>
</div>
<div class='row visible-lg visible-md'>
  <h2>月間カレンダー</h2>
  <table class='table table-responsive'>
    <tr>
      <th class='text-center'>ユーザ</th>
      <% @target_dates.each do |target_date| %>
        <th class='text-center<%= ' bg-success' if target_date == Date.today %>'>
          <%= target_date.day %>
        </th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td class='text-center'>
          <%= image_tag(avatar_url(user), { class: 'center-block img-rounded', width: '20px', height: '20px' }) %>
        </td>
        <% @target_dates.each do |target_date| %>
          <% stamp = user.find_stamp_by(target_date) %>
          <% current_day = target_date == Date.today %>
          <td class='<%= 'bg-success' if current_day %>' style='vertical-align:middle;text-align:center;'>
            <div class='center-block stamp-<%= stamp ? stamp.status : '0' %>' style='width:25px; height:25px;' data-toggle='tooltip' title='<%= stamp ? stamp.message : '' %>'></div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<%= content_for :body_end do %>
  <script src='http://code.highcharts.com/highcharts.js' ></script>
  <script>
    $(function () {
      $('#chart').highcharts({
        title: {
          text: '年間'
        },
        chart: {
          type: 'column'
        },
        xAxis: {
          categories: <%= raw @stamp_of_year_chart_categories.to_json %>
        },
        series: [{
          name: 'いい感じ',
          color: 'pink',
          data: <%= raw @stamp_of_year_chart[0].to_json %>  
        },
        {
          name: 'まぁまぁ',
          color: 'yellow',
          data: <%= raw @stamp_of_year_chart[1].to_json %>  
        },
        {
          name: 'やな感じ',
          color: 'gray',
          data: <%= raw @stamp_of_year_chart[2].to_json %>  
        }],
        plotOptions: {
          area: {
            stacking: 'percent',
          },
          column: {
            stacking: 'stack',
          }
        }
      });
      $('#pie_year').highcharts({
        title: {
          text: '年間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_year_pie.to_json %>
        }],
        plotOptions: {
          pie: {
            colors:['pink', 'yellow', 'gray']
          }
        }
      });
      $('#pie_month').highcharts({
        title: {
          text: '月間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_month_pie.to_json %>
        }],
        plotOptions: {
          pie: {
            colors:['pink', 'yellow', 'gray']
          }
        }
      });
      $('#pie_week').highcharts({
        title: {
          text: '週間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_week_pie.to_json %>
        }],
        plotOptions: {
          pie: {
            colors:['pink', 'yellow', 'gray']
          }
        }
      });
    });
  </script>
<% end %>
