<h1><%= Date.today.year %></h1>
<div class='row'>
  <div class='col-md-3'>
    <div id='pie_today'></div>
  </div>
  <div class='col-md-3'>
    <div id='pie_week'></div>
  </div>
  <div class='col-md-3'>
    <div id='pie_month'></div>
  </div>
  <div class='col-md-3'>
    <div id='pie_year'></div>
  </div>
</div>
<%= content_for :body_end do %>
  <script src='http://code.highcharts.com/highcharts.js' ></script>
  <script>
    $(function () {
      $('#pie_year').highcharts({
        title: {
          text: '年間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_year_json %>
        }]
      });
      $('#pie_month').highcharts({
        title: {
          text: '月間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_month_json %>
        }]
      });
      $('#pie_week').highcharts({
        title: {
          text: '週間'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_week_json %>
        }]
      });
      $('#pie_today').highcharts({
        title: {
          text: '本日'
        },
        chart: {
          type: 'pie'
        },
        series: [{
          data: <%= raw @stamp_of_today_json %>
        }]
      });
    });
  </script>
<% end %>
