<h1>今週のカレンダー</h1>
<div class='row'>
  <div class='col-md-6'>
    <h2>1日の出来事を振り返ってみる</h2>
    <%= form_for(@stamp) do |f| %>
      <div class='form-group top-buffer'>
        <%= f.date_select :target_date, { :discard_year => true, :discard_month => false, :discard_day => false } %>
      </div>
      <div class='form-group top-buffer'>
        <div class='col-xs-4 col-md-4'>
          <label class='stamp-sprite stamp-warning' for='stamp_status_1'></label> 
          <%= f.radio_button :status, 1 %>
        </div>
        <div class='col-xs-4 col-md-4'>
          <label class='stamp-sprite stamp-danger' for='stamp_status_2'></label> 
          <%= f.radio_button :status, 2 %>
        </div>
        <div class='col-xs-4 col-md-4'>
          <label class='stamp-sprite stamp-primary' for='stamp_status_3'></label> 
          <%= f.radio_button :status, 3 %>
        </div>
      </div>
      <div class='form-group top-buffer'>
        <%= f.text_area :message, { :class => 'form-control', :placeholder => "今日はどうでしたか？" } %>
      </div>
      <button type="submit" class="btn btn-primary">登録</button>
      <%= f.hidden_field :user_id %>
    <% end %>
  </div>
  <div class='col-md-6'>
    <h2>本日<%= @this_day %>のサマリ</h2>
      <ul class='list-group top-buffer'>
        <li class='list-group-item list-group-item-warning'><span>良い</span><span class='badge'><%= @todays_stamps_1.count %>人</span></li>
        <li class='list-group-item list-group-item-danger'><span>普通</span><span class='badge'><%= @todays_stamps_2.count %>人</span></li>
        <li class='list-group-item list-group-item-info'><span>だめ</span><span class='badge'><%= @todays_stamps_3.count %>人</span></li>
        <li class='list-group-item'><span>未入力</span><span class='badge'><%= @users.count - @todays_stamps.count %>人</span></li>
      </ul>
  </div>
</div>
<div class='table-responsive top-buffer'>
<table class='table table-hover'>
  <tr>
    <th>ユーザ</th>
    <% (@display_days).times do |i| %>
      <th class=<%= 'bg-success' if @this_monday + i == @this_day %>>
        <%= @this_monday + i %>
      </th>
    <% end %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag(avatar_url(user), { class: 'thumbnail', width: '52px', height: '52px', 'data-toggle' => 'tooltip', title: user.name }) %>
      </td>
      <% (@display_days).times do |i| %>
        <% stamp = user.find_stamp_by(@this_monday + i) %>
        <% current_day = @this_monday + i == @this_day %>
        <td class=<%= 'bg-success' if current_day %>>
          <span class='stamp-sprite stamp-<%= stamp ? stamp.status_class : 'normal' %>' data-toggle='tooltip' title='<%= stamp ? stamp.message : '' %>'></span>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
<%= form_for(@stamp) do |f| %>
  <div id='stampModal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'><span>×</span></button>
          <h4 class='modal-title'>スタンプ</h4>
        </div>
        <div class='modal-body'>
          <div class='form-group top-buffer'>
            <%= f.date_select :target_date, { :discard_year => true, :discard_month => false, :discard_day => false } %>
          </div>
          <div class='form-group top-buffer'>
            <div class='row'>
              <div class='col-xs-4 col-md-4'>
                <span class='stamp-sprite stamp-warning'></span> 
                <%= f.radio_button :status, 1 %>
              </div>
              <div class='col-xs-4 col-md-4'>
                <span class='stamp-sprite stamp-danger'></span> 
                <%= f.radio_button :status, 2 %>
              </div>
              <div class='col-xs-4 col-md-4'>
                <span class='stamp-sprite stamp-primary'></span> 
                <%= f.radio_button :status, 3 %>
              </div>
            </div>
          </div>
          <div class='form-group top-buffer'>
            <%= f.text_area :message, { :class => 'form-control', :placeholder => "今日はどうでしたか？" } %>
          </div>
          <%= f.hidden_field :user_id %>
        </div>
        <div class='modal-footer'>
          <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :head_end do %>
  <style>
    .table-responsive>.fixed-column {
      position: absolute;
      display: inline-block;
      width: auto;
      border-right: 1px solid #ddd;
      background-color: #FFFFFF;
      box-shadow: 5px 5px 10px #DDDDDD;
    }
    @media(min-width:768px) {
      .table-responsive>.fixed-column {
        display: none;
      }
    }
  </style>
<% end %>
<% content_for :body_end do %>
  <script>
    $(function(){
        var $table = $('.table');
        var $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');
        $fixedColumn.find('th:not(:first-child),td:not(:first-child)').remove();
        $fixedColumn.find('tr').each(function (i, elem) {
          $(this).height($table.find('tr:eq(' + i + ')').height());
        });
    });
  </script>
<% end %>
