<h1><%= @month %>月</h1>

<div class='row'>
  <div class='table-responsive'>
    <table class='table table-responsive'>
      <tr>
        <th class='text-center'>ユーザ</th>
        <% @target_dates.each do |target_date| %>
          <th class='text-center<%= ' bg-success' if target_date == Date.today %>'>
            <%= target_date.day %>
          </th>
        <% end %>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td class='text-center'>
              <span><%= link_to user.name, user_path(user) %></span>
            <%= image_tag(avatar_url(user), { class: 'center-block img-rounded', width: '20px', height: '20px' }) %>
          </td>
          <% @target_dates.each do |target_date| %>
            <% stamp = user.find_stamp_by(target_date) %>
            <% current_day = target_date == Date.today %>
            <td class='<%= 'bg-success' if current_day %>' style='vertical-align:middle;text-align:center;'>
              <div class='center-block stamp-<%= stamp ? stamp.status : '0' %>' style='width:30px; height:30px;' data-toggle='tooltip' title='<%= stamp ? stamp.message : '' %>'></div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<label for='my-checkbox'>AUTO</label>
<input type="checkbox"></input>

<% content_for :head_end do %>
  <style>
    .table-responsive>.fixed-column {
      position: absolute;
      display: inline-block;
      width: auto;
      border-right: 1px solid #ddd;
      background-color: #FFFFFF;
      box-shadow: 5px 5px 10px #DDDDDD;
    }
    @media(min-width:768px) {
      .table-responsive>.fixed-column {
        display: none;
      }
    }
    .bootstrap-switch {
      margin: 10px;
    };
  </style>
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css'/>
<% end %>
<% content_for :body_end do %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js'></script>
  <script>
    $(function(){
        var $table = $('.table');
        var $fixedColumn = $table.clone().insertBefore($table).addClass('fixed-column');
        $fixedColumn.find('th:not(:first-child),td:not(:first-child)').remove();
        $fixedColumn.find('tr').each(function (i, elem) {
          $(this).height($table.find('tr:eq(' + i + ')').height());
        });

        var $tooltips = $table.find('[data-toggle=tooltip]:not(.stamp-0)');
        $tooltips.tooltip({
            animation : true,
            placement : 'top',
            trigger   : 'click'
        });

        var $switches = $("input[type='checkbox']");
        $switches.bootstrapSwitch();
        var intervalIds = [];
        $switches.on('switchChange.bootstrapSwitch', function(event, state) {
          if (state) {
            intervalIds.push(
              setInterval(function() {
                let indexes = [];
                for (let i = 0; i < $tooltips.length / 4; i++) {
                  let index = Math.floor(Math.random() * $tooltips.length)
                  indexes.push(index);
                }
                $tooltips.tooltip('hide');
                for (let i = 0; i < indexes.length; i++) {
                  let index = indexes.pop();
                  $($tooltips[index]).click();
                }
            }, 5000));
          } else {
            for(let i = 0; i < intervalIds.length; i++) {
              clearInterval(intervalIds[i]);
            }
          }
        });
    });
  </script>
<% end %>
